body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-bottom: 50px;
}
app-root { position: relative;}
main {
    flex: 1 0 auto;
}
nav { border-bottom: 1px solid #ddd; }
nav .brand-logo { max-width: 160px; max-height: 50px; padding-top: 3px; }
.page-title {
	font-size: 16px; font-weight: 500;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	font-size: 14px; color: #333;
}
.input-field>label {
	font-size: 1.2em; font-weight: 500;
}
.sidenav .user-view .name { margin-top: 4px;}
.sidenav {z-index: 1010;}
.sidenav li>a{ padding: 0 8px;}
.sidenav li>a i,
.sidenav li>a>i.material-icons { margin-right: 8px;}
.sidenav-open{transform: translateX(0%);}
.sidenav-overlay{display: block; opacity: 1;}

.user-img { position: relative; width: 100px; height: 100px; background-position: center; background-size: cover; margin: auto; border: 1px solid #ddd;}
.btn-block {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 600;
}
.btn-block i.material-icons {
  vertical-align:bottom;

}
.btn-flat:focus { background: none;}

.btn-tiny { height: 24px; line-height: 24px; padding: 0 8px; font-size: 12px;}
.btn-tiny i.right { margin-left: 8px;}
.btn-tiny i.left { margin-right: 8px;}
.page-footer {
    padding: 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.page-footer .row {
    padding: 0 0; margin: 0;
}
.page-footer .btn-flat { height: 42px; line-height: 42px;}
.tabs .tab a:focus, .tabs .tab a:focus.active { background-color: rgba(0, 0, 0, 0.05);}
.tabs .tab a { color: #aed581; }
.tabs .tab a:hover,
.tabs .tab a.active { color: #fff; border-bottom: 4px solid #aed581;  }
.tab-content { padding: 1em 0; }

.toggle-switch {
  position: relative;
  width: 220px;
  height: 40px;
  color: #fff;
  margin: 1.5em 0;
  padding: 8px 0 0;
  box-sizing: border-box;
}

.quality {
  position: relative;
  float: left;
  width: 50%;
  height: 32px;
  line-height: 30px;
}
.quality label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aed581;
  color: #689f38;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
}
.quality input[type="radio"] {
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}
.quality input[type="radio"]:focus {
  outline: 0;
  outline-offset: 0;
}
.quality input[type="radio"]:checked ~ label {
  background-color: #689f38;
  color: #fff;
}
.quality input[type="radio"]:active ~ label {
  transform: scale(1.05);
}

.custom.collection {
    border: 0 none;
    border-radius: 0;
}
.custom.collection .collection-item.avatar { min-height: initial; padding-left: 44px; }
.custom.collection .collection-item.avatar i.circle { left: 0; }
.custom.collection .collection-item.avatar .title { font-size: 20px; font-weight: 300; }
.custom.collection .collection-item.avatar .row { margin:0 0 0 ; font-size: 12px; line-height: 1.25; }
.custom.collection .collection-item.avatar .row .col { padding-left: 0; padding-right: 0; }
.custom.collection .collection-item.avatar .secondary-content { font-size: 24px; right: 12px; }
.custom.collection .collection-item.avatar .secondary-content .material-icons { font-size: inherit; }

.bottom-sheet.open {
  bottom: 0;
  display: block;
}
.modal.modal-fixed-footer .dropdown-content.select-dropdown { box-shadow: none; }
.modal.modal-fixed-footer .dropdown-content.select-dropdown li { min-height: 40px;}
.modal.modal-fixed-footer .dropdown-content.select-dropdown li>span { font-size: 14px; padding: 5px 10px;}
.modal.modal-fixed-footer .dropdown-content.select-dropdown li .role { font-size: 12px; }
.modal.custom { box-shadow: none; }
.modal.custom .modal-content { padding: 0 0; overflow: auto; }
.modal.custom .modal-footer { height: auto; background: none; }
.modal.custom .modal-footer .btn-block { margin: 0; }
.modal .modal-title { margin: 0 0; background: rgba(255,255,255,0.85); padding: 10px; font-weight: 500; }
.modal .modal-title + ul { margin: 0; }

.modal.custom .collection-item { background: none; }
.modal.custom .collection-item.avatar { min-height: 60px; background: none; }
.modal.custom .collection-item.avatar i.circle { background: none; font-size: 2.25em; }
.modal.custom .collection-item.avatar .title { padding-top: 5px; display: block; }
.modal.custom.open {
  bottom: 0;
  display: block;
  z-index: 1003;
}
.modal.bottom-sheet { max-height: 75%;}

.detail { margin-top: 1em;  }
.detail .page-title { font-size: 24px; font-weight: 300; margin-top: 10px; margin-bottom: 2px; }
.detail p {  margin-top: 0; margin-bottom: 5px; }
.detail a { font-size: 0.9em; margin-bottom: 5px; }
.collection.dashboard {}
.collection.dashboard .collection-item {  background: none; }
.collection.dashboard .collection-item.avatar { min-height: 60px; background: none; }
.collection.dashboard .collection-item.avatar i.circle { background: none; font-size: 2.25em; }
.collection.dashboard .collection-item.avatar .title { padding-top: 5px; display: block; }
.notification .material-icons { font-size: 44px; }
.notice { border: 1px solid #cfd8dc ; text-align: center; }

#toast-container { left: 0;}
.alert { padding: 10px;}

.input-field input.dblinputfirst{
  width: 49% !important;
}
.input-field input.dblinputsecond{
  width: 49% !important;
  float: right;
}